<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form action="/lane" method="get">

    {{{wettkampfRadio}}}

  <br>
    <input type="radio" id="1" name="bahn" value="1">
    <label for="1">Bahn 1</label><br>
    <input type="radio" id="2" name="bahn" value="2">
    <label for="2">Bahn 2</label><br>
    <input type="radio" id="3" name="bahn" value="3">
    <label for="3">Bahn 3</label><br>
    <input type="radio" id="4" name="bahn" value="4">
    <label for="4">Bahn 4</label><br>
    <input type="radio" id="5" name="bahn" value="5">
    <label for="5">Bahn 5</label><br>
    <input type="radio" id="6" name="bahn" value="6">
    <label for="6">Bahn 6</label><br>

  <button type="submit">Anmelden</button>
</form>
</body>
</html>