<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<style>
    select{width: 50%; height: 35px}
    label{width: 50%}
    input{width: 50%; height: 35px}
</style>
<body>
<form action="/auth" method="post">


    <div class="container box">
        <div class="row">
            <label for="wettkampf">Wettkampf:</label>
            <select id="wettkampf" name="wettkampf">
            <option></option>
        </select>
        </div>

        <div class="row">
            <label for="rolle">Rolle:</label>
            <select name="rolle" id="rolle">
            <option></option>
            <option value="kari"> Kampfrichter</option>
            <option value="visitor"> Besucher </option>
        </select>
        </div>

        <div class="row" id="bahnRow" hidden>
            <label for="bahn">Bahn:</label>
            <select id="bahn" name="bahn">
            <option> -- Bitte Wettkampf Auswählen -- </option>
        </select>
        </div>

        <div class="row">
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="password"><br><br>
        </div>

        <div>
            <p id="errorLog" style="color: red"></p>
        </div>
        <div class="center">

            <button class="button" type="submit" style="font-size: 20px; background-color: #2879D1">Anmelden</button>
        </div>
    </div>


</form>
<div id="structure" hidden>{{structure}}</div>
</body>
<script src="../javascripts/anmelde.js"></script>
</html>